In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/francis/Downloads/spambase.csv')
df.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [16]:
for i in df.columns.tolist():
    print(df[i].nunique())

142
171
214
43
255
141
173
170
144
245
113
316
158
133
118
253
197
229
575
148
401
99
164
143
395
281
240
200
156
179
128
106
184
110
177
159
188
53
163
125
108
186
136
160
230
227
38
106
313
641
225
963
504
316
2160
271
919
2

In [11]:
df.shape

(4600, 58)