# Spam detection

In [1]:
# importing the required 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import the dataset

df=pd.read_csv('/home/francis/Downloads/spambase.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [3]:
# checking for eunique values to determine the target
for i in df.columns.tolist():
    print(df[i].nunique())

142
171
214
43
255
141
173
170
144
245
113
316
158
133
118
253
197
229
575
148
401
99
164
143
395
281
240
200
156
179
128
106
184
110
177
159
188
53
163
125
108
186
136
160
230
227
38
106
313
641
225
964
504
316
2161
271
919
2

In [4]:
# Checking the shape
print('The dataset has',df.shape[0],'rows and ',df.shape[1],'columns.')

The dataset has 4601 rows and  58 columns.

In [5]:
# the final row has binary values which would mean that it is the target

In [6]:
# checking for null values
df.isnull().sum()
#the dataset has no null values

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
dtype: int64

In [7]:
# getting the X and y
y=df.iloc[:,57]
rem=list(range(df.shape[1]))
rem.remove(57)
X=df.iloc[:,rem]

In [8]:
# importing split test train
from sklearn.model_selection import train_test_split
# splitting the x and y training with 80%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)

In [9]:
# checking the shape of the train test
X_train.shape,y_train.shape

((3680, 57), (3680,))

In [10]:
#training the model
# importing the library
from sklearn.neighbors import KNeighborsClassifier

#training
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)

#making the prediction
y_pred=knn.predict(X_test)

In [11]:
# checking the score of the model

#importing the library
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7893593919652552

## Naive Bayes

In [12]:
# importing naive baise
from sklearn.naive_bayes import GaussianNB

# traing the model
gau=GaussianNB()
model=gau.fit(X_train,y_train)
# making a prediction
y_pred=gau.predict(X_test)

In [13]:
#checking the score of the model
print(accuracy_score(y_test,y_pred))

0.8273615635179153

In [14]:
# in this case the Naive bayes is accurate and therefore more prefered than the gausian one

In [15]:
# using confusion matrix
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[431 146]
 [ 13 331]]

In [16]:
# checking the classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.75      0.84       577
           1       0.69      0.96      0.81       344

    accuracy                           0.83       921
   macro avg       0.83      0.85      0.83       921
weighted avg       0.87      0.83      0.83       921